/*handheld devices, portrait */
@media only screen and (min-device-width : 315px) and (max-device-width : 750px) {
	h1{
		font-size: 18px;
	}
	body {
		background: #CCC;
	}

	#map {
	  height: 100%;
	  width: 100%;
	}

	#header {
	  margin-left: 5%;
	  margin-top: 107%;
	  height: 180px;
	  width: 280px;
	}

	#list {
	  position: absolute;
	  margin-left: 5%;
	  margin-top: 107%;
	  height: 180px;
	  width: 280px;
	  z-index: 6;
	  font-size: 15px;
	  padding: 5px;
	  line-height: 15px;

	}
	#listUL{
		text-align: left;
	}
	.markerImg {
		display: none;
	}
	.info {
	  z-index: 7;
	  top: 60%;
	  line-height: 20px;
	  font-size: 15px;
	}
	#listBut{
	  position: absolute;
	  z-index: 5;
	  margin-top: 25%;
	  margin-left: 5%;
	  height: 250px;
	  width: 100px;
	}
	.toggle{
	  height: 75px;
	  width: 75px;
	  padding: 15px;
	}
}
@media only screen and (min-width: 750px) and (max-width: 850px){
	h1{
		font-size: 28px;
	}

	#header {
		margin-top: 5%;
	}

	#list {
	  width: 300px;
	  margin-top: 55%;
	  font-size: 20px;
	}
	#listBut{
	  position: absolute;
	  z-index: 5;
	  margin-top: 25%;
	  margin-left: 5%;
	  height: 250px;
	  width: 100px;
	}
	.toggle{
	  height: 75px;
	  width: 75px;
	  padding: 15px;
	}


}
