/*handheld devices, portrait */
@media only screen and (min-device-width : 315px) and (max-device-width : 750px) {
	h1{
		font-size: 18px;
	}
	body {
		background: #CCC;
	}

	#map {
	  height: 100%;
	  width: 100%;
	}


	#header {
	  margin-left: 5%;
	  margin-top: 107%;
	  height: 180px;
	  width: 280px;
	}

}
@media only screen and (min-width: 750px) and (max-width: 850px){
	h1{
		font-size: 28px;
	}

	#header, #mark {
		margin-top: 5%;
	}

	#listed {
	    width: 40%;
	    margin: 95% 30% auto 2%;
	}

	#listButton{
	  position: absolute;
	  z-index: 5;
	  margin-top: 25%;
	  margin-left: 5%;
	  height: 250px;
	  width: 100px;
	}

	#surf-header {
		height: 50%;
	}

}
