* {box-sizing:border-box;}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
  height: 100%;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#list {
  position: absolute;
  margin-top: 80px;
  height: 60%;
  width: 15%;
  z-index: 5;
  background-color: black;
  text-align: center;
  background: beige;
  border: 2px solid black;
  border-radius: 15px;
  font-family: 'Roboto','sans-serif';

}

#searchImg {
  height: 15px;
  width: 15px;
}
#content {
  text-align: center;

}

.markerImg {
  height: 170px;
  width: 190px;
  margin: auto;
  margin-left: 15px;
  padding: auto;
  border-radius: 15px;
  border: 5px solid black;
}
#displayDiv {
  background-color: rgba(0,0,0,.5);
  height: 100%;
}
#display{
  background-color: #CCC;
  font-style: italic;
  color: rgba(0,0,0,0.5);
}
#searched{
  padding-top: 15px;
}