* {box-sizing:border-box;}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
a:visited {
  color: gray;
}

#header {
  position: absolute;
  margin-left: 62%;
  margin-top: 43%;
  z-index: 5;
  border: 2px solid black;
  border-radius: 15px;
  height: 150px;
  width: 250px;

}
#map {
  height: 100%;
  width: 100%;
}

#been {
  width: 100%;
}
#mark {
  margin-left: 62%;
  margin-top: 43%;
  height: 150px;
  width: 250px;
  display: none;
}
#search {
  margin-left: 36%;
  margin-top: 40%;
  height: 40px;
  width: 250px;
  display: none;
}
#mark-img {
  height: 75px;
  width: 75px;
}
#mark-name {
  font-size: 15px;
}
#mark-address {
  font-size: 10px;
}

#search {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}
#listButton{
  position: absolute;
  z-index: 5;
  margin-top: 5px;
  margin-left: 35%;
}
.toggle{
  height: 75px;
  width: 75px;
  padding: 15px;
}
.list {
  position: absolute;
  z-index: 5;
  background: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  font-family: 'Roboto','sans-serif';
  padding: auto 40% auto auto;
}
#listed {  
  width: 20%;
  margin: 15% 30% auto 2%;
  display: none;
}
#listUL{
  text-align: center;
  margin: 5px;
  padding: 15px;
}
.noBullet{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}
#searchBar{
  margin: 15px;
}

#content {
  text-align: center;
}

.markerImg {
  height: 120px;
  width: 140px;
  margin: auto;
  margin-left: 15px;
  padding: auto;
  border-radius: 15px;
  border: 5px solid black;
}

.display{
  background-color: #CCC;
  font-style: italic;
  color: rgba(0,0,0,0.5);
}
#displayed{
  position: absolute;
  z-index: 5;
  height: auto;
  width: 25%;
  margin: 45% auto auto 3%;
}

#searched{
  padding-top: 15px;
}
.info, #infoHead {
  list-style-type: none;
  display: inline-block;
}
.info {
  position: absolute;
  top: 80%;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  width: 80%;
  display: none;
}

#mic {
  height: 5em;
  width: 9em;
}

.concerts {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  overflow-y: scroll;
}
#jamHead{
  font-size: 10px;
}
#tix {
  color: white;
  font-color: white;
}
#tixImg{
  margin-top: 25px;
}
#jamBase-header {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    z-index: 100;
    list-style-type: none;
    color: white;
    padding: 15px;
    overflow-y: scroll;
    text-align: center;
}

/*slideout menu courtesy of alijafarian.com/jquery-horizontal-slideout-menu*/

  #jamBase-header .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    left: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    background: #222;
    color: #999;
    text-decoration: none;
    vertical-align: top;
  }