* {box-sizing:border-box;}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
  height: 100%;
}
#placeClickHead {
  display: inline;
  font-size: 15px;
  margin: 15px;
  color: white;
}
#place {
  display: inline;
}

#search {
  position: absolute;
  top: 50px;
  left: 75%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#list {
  position: absolute;
  width: 80%;
  margin: auto 10% auto 10%;
  z-index: 5;
  background: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  font-family: 'Roboto','sans-serif';
}
.noBull{
    list-style-type: none;
    display: inline;
    margin: 5px;
}
#spot{
  margin: 15px;
}
#searchImg {
  height: 15px;
  width: 15px;
}
#content {
  text-align: center;

}

.markerImg {
  height: 120px;
  width: 140px;
  margin: auto;
  margin-left: 15px;
  padding: auto;
  border-radius: 15px;
  border: 5px solid black;
}
#displayDiv {
  background-color: rgba(0,0,0,.5);
  height: 100%;
}
#display{
  background-color: #CCC;
  font-style: italic;
  color: rgba(0,0,0,0.5);
}
#searched{
  padding-top: 15px;
}
.info, #infoHead {
  list-style-type: none;
  display: inline-block;
}
.info {
  position: absolute;
  top: 80%;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  width: 80%;

}
#mic {
  height: 150px;
  width: 250px;

}

.concerts {
  list-style-type: none;
}
#jamBase-header {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    z-index: 100;
    list-style-type: none;
    color: white;
    padding: auto;
}

/*slideout menu courtesy of alijafarian.com/jquery-horizontal-slideout-menu*/

  #jamBase-header .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    background: #222;
    color: #999;
    text-decoration: none;
    vertical-align: top;
  }